
.Meaning h3{
margin: 5px 5px 18px 0px;
color: rgba(253, 76, 215, 0.973);
font-size: 23px;
text-shadow: 1px 1px 3px rgb(53, 52, 50);
}
.Meaning ul{
  padding: 0;
}
.Meaning li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.Meaning .example{
  list-style: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 15px;
  margin-top: 4px;
}